# OpenAI Configuration
OPENAI_API_KEY=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

# Pinecone Configuration
PINECONE_API_KEY=pcsk_7WitH2_CvaLNs1tz7LNcoHcJ8YuVCKr38QdysgitXAvg4RTszUKUM53PV9upS1NcZaBhp
PINECONE_ENV=us-east-1

# Pinecone Index
PINECONE_INDEX_NAME=deznity-core

OPENROUTER_API_KEY=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